<form class="" action="<%= comment_url %>" method="POST">
  <input type="hidden" name="_method" value="delete">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="comment[id]" value="<%= id %>">
  <input type="submit" name="" value="Delete">
</form>