<div>Welcome <%= @user.username %>, here is your profile<div>
<ul>
  <li>
    <a href="http://localhost:3000/users/1/stories">Stories</a>
  </li>
  <li>
    <a href="http://localhost:3000/users/1/comments">Comments</a>
  </li>
</ul>