<div>Welcome <%= @user.username %>, here are your stories<div>
<ul>
  <% @user.stories.each do |story| %>
    <li>
      <a href="<%= story_url(story) %>">
        <div>Title: <%= story.title %></div>
        <div>Content: <%= story.content %></div>
      </a>
    </li>
  <% end %>
</ul>