.comment-form-container {
  background: $main-background-gray;
  padding-top: 40px;
}

.comment-form-header {
  color: $dark-gray;
  font-size: 14px;
  margin: 0px auto 15px auto;
  max-width: 640px;
}

.comment-form {
  background: #FFFFFF;
  border: 1px solid $gray;
  border-radius: 3px;
  margin: 0 auto;
  max-width: 600px; // 640px - side paddings
  padding: 20px;
}

.comment-form-user-inst-container {
  overflow: hidden;
  position: relative;
}

.comment-form-user-inst-container:hover {
  cursor: pointer;
}

.comment-form-user-img {
  border-radius: 50%;
  float: left;
  width: 32px;
}

.comment-form-inst {
  color: $light-gray;
  float: left;
  font-size: 14px;
  left: 40px;
  position: absolute;
  top: 8px;
  transition: top 0.5s;
}

.comment-form-inst-hide {
  top: -30px;
  transition: top 0.5s;
}

.comment-form-username {
  color: $yellow;
  float: left;
  left: 40px;
  position: absolute;
  top: 35px;
  transition: top 0.5s;
}

.comment-form-username-show {
  top: 6px;
  transition: top 0.5s;
}

.comment-content-form {
  margin: 10px 0px;
}

.comment-submit {
  border: 1px solid $yellow;
  border-radius: 10px;
  color: $yellow;
  float: left;
  font-size: 14px;
  margin-right: 15px;
  padding: 2px 10px;
}

.comment-go-full {
  border: 1px solid $light-gray;
  border-radius: 10px;
  color: $gray;
  float: left;
  font-size: 14px;
  padding: 2px 10px;
}

@media (min-width: 768px) {
  .comment-form-user-img {
    width: 36px;
  }
  
  .comment-form-inst {
    left: 45px;
  }
  
  .comment-form-username {
    font-size: 18px;
    left: 45px;
  }
  
  .comment-go-full,
  .comment-submit {
    border-radius: 15px;
    font-size: 16px;
    padding: 4px 15px;
  }
}