.content-form {
  margin-bottom: 10px;
  
  &:hover {
    cursor: text;
  }
}

.content-form:empty:before {
  color: $light-gray;
  content: attr(placeholder);
}

.content-form-error {
  float: left;
  font-size: 14px;
  margin-top: 3px;
}