.hidden {
  display: none !important;
}

.tag {
  background: #FFFFFF;
  border: 1px solid $light-gray;
  border-radius: 3px;
  float: left;
  font-size: 13px;
  height: 22px;
  margin: 0px 10px 10px 0px;
  padding: 5px 10px 0px 10px;
}