.hidden {
  display: none !important;
}

.card {
  border-radius: 3px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}

.error {
  color: red;
}

.padding-side {
  padding: 0px 20px;
}

.tag {
  background: #FFFFFF;
  border: 1px solid $light-gray;
  border-radius: 3px;
  float: left;
  font-size: 13px;
  height: 22px;
  margin: 0px 10px 10px 0px;
  padding: 5px 10px 0px 10px;
}

.tag:hover {
  cursor: pointer;
}

.loader { // loading spinner or something
  
}

.opaque-overlay {
  opacity: 0.5;
}

.disabled-button {
  border: 1px solid $light-gray !important;
  color: $light-gray !important;
  
  &:hover {
    cursor: default !important;
  }
}

.button {
  border: 1px solid #F3D351;
  border-radius: 20px;
  color: #F3D351;
  font-size: 14px;
  padding: 5px 10px;
  text-align: center;
  
  &:hover {
    cursor: pointer;
  }
}

.img-prev-camera-img {
  width: 20px;
  
  &:hover {
    cursor: pointer
  }
}

@media (min-width: 768px) {
  .padding-side {
    padding: 0px;
  }
}