.header {
  background-color: #FFFFFF;
  border-bottom: 1px solid rgba(0, 0, 0, 0.10);
  box-sizing: border-box;
  height: 50px;
  left: 50%;
  padding: 10px;
  position: fixed;
  top: 0;
  transform: translate(-50%, 0);
  width: 100%;
  z-index: 10;
}

.header-inner {
  margin: 0 auto;
  max-width: 1000px !important;
  width: 100%;
}

.header-list-left {
  float: left;
  width: 40px;
}

.header-list-right {
  float: right;
}

.header-list-logo {
  width: 110px;
}

.header-list-logo:hover {
  cursor: pointer;
  margin-top: 2px
}

.header-list-auth-story-link {
  color: $yellow;
  float: left;
  font-size: 14px;
  margin: 6px 10px 0px 10px;
  padding-bottom: 3px;
}

.header-list-auth-story-link:hover {
  color: $dark-yellow;
  cursor: pointer;
  border-bottom: 1px solid $dark-yellow;
}

.header-list-search {
  float: left;
  height: 25px;
  margin-top: 2px;
  width: 25px;
}

.header-list-search:hover {
  cursor: pointer;
  margin-top: 4px;
}

// .header-list-notification,
// .header-list-profile 