.header {
  background-color: #FFFFFF;
  border-bottom: 1px solid rgba(0, 0, 0, 0.10);
  box-sizing: border-box;
  height: $header-height;
  left: 50%;
  padding: 10px;
  position: fixed;
  top: 0;
  transform: translate(-50%, 0);
  width: 100%;
  z-index: 10;
}

.header-inner {
  margin: 0 auto;
  max-width: 1000px !important;
  width: 100%;
}

.header-list-left {
  float: left;
  width: 40px;
}

.header-list-right {
  float: right;
}

.header-list-logo-img-wide {
  display: none;
}

.header-list-logo-img-small {
  width: 30px;
}

.header-list-logo:hover {
  cursor: pointer;
  margin-top: 2px
}

.header-list-story-link,
.header-list-auth-link {
  color: $yellow;
  float: left;
  font-size: 14px;
  padding-bottom: 3px;
  
  &:hover {
    border-bottom: 1px solid $dark-yellow;
    color: $dark-yellow;
    cursor: pointer;
  }
}

.header-list-auth-link {
  margin: 6px 15px 0px 15px;
}

.header-list-story-link {
  margin: 6px 15px 0px 0px;
}

.header-list-auth-user-container {
  float: left;
  margin-right: 15px;
  
  &:hover {
    cursor: pointer;
  }
}

.header-list-auth-user-img {
  border-radius: 50%;
  width: 32px;
}

.header-list-search {
  float: left;
  height: 25px;
  margin-top: 2px;
  width: 25px;
}

.header-list-search:hover {
  cursor: pointer;
  margin-top: 4px;
}

@media (min-width: 768px) {
  .header-list-logo-img-small {
    display: none;
  }
  
  .header-list-logo-img-wide {
    display: block;
    width: 110px;
  }
}

// .header-list-notification,
// .header-list-profile 