.header {
  background-color: #FFFFFF;
  border-bottom: 1px solid rgba(0, 0, 0, 0.10);
  box-sizing: border-box;
  height: $header-height;
  left: 50%;
  padding: 10px;
  position: fixed;
  top: 0;
  transform: translate(-50%, 0);
  width: 100%;
  z-index: 11;
}

.header-inner {
  margin: 0 auto;
  max-width: 1000px !important;
  width: 100%;
}

.header-list-left {
  float: left;
  width: 30px;
}

.header-list-right {
  float: right;
}

.header-list-logo-img-wide {
  display: none;
}

.header-list-logo-img-small {
  width: 30px;
}

.header-list-logo:hover {
  cursor: pointer;
}

.header-list-story-link,
.header-list-auth-link {
  color: $yellow;
  float: left;
  font-size: 14px;
  padding-bottom: 3px;
  
  &:hover {
    border-bottom: 1px solid $dark-yellow;
    color: $dark-yellow;
    cursor: pointer;
  }
}

.header-list-publish-text {
  float: left;
  margin-right: 5px;
}

.header-list-publish-arrow {
  float: left;
  height: 18px;
  margin-right: -1px;
  width: 18px;
}

// stories tag form //

.stories-tag-form-container {
  background: #FFFFFF;
  left: -130px;
  padding: 20px;
  position: absolute;
  top: 20px;
  width: 260px;
  z-index: 20;
}

.stories-tag-form {
  border-bottom: 1px solid $gray;
  margin-bottom: 20px;
  padding: 3px 3px 3px 0px;
}

.stories-tag-form-header {
  color: #000000;
  font-size: 18px;
  margin-bottom: 10px;
}

.stories-tag-form-subheader {
  color: $gray;
  font-size: 14px;
  margin-bottom: 10px;
}

.stories-tag-input {
  color: #000000;
  font-size: 14px;
  width: calc(100% - 11px); // 11px = width of submit button
}

.stories-tag-desc {
  color: #000000;
  float: left;
  margin-right: 5px;
}

.stories-tag-count {
  color: #000000;
  float: left;
}

.stories-tag-form-searched-tags {
  margin-bottom: 15px
}

.stories-searched-tag {
  margin-bottom: 5px;
}

.stories-tag-submit {
  font-size: 18px;
}

.stories-tag-form-publish {
  width: 70px;
}

// end //

.header-list-auth-link {
  margin: 6px 15px 0px 15px;
}

.header-list-story-link {
  margin: 6px 15px 0px 0px;
}

.header-list-auth-user-container {
  float: left;
  margin-right: 15px;
  
  &:hover {
    cursor: pointer;
  }
}

.header-list-user-container {
  position: relative;
}

.header-list-user-img {
  border-radius: 50%;
  height: 32px;
  width: 32px;
}

.dropdown-menu-user {
  background: #FFFFFF;
  left: -45px;
  position: absolute;
  width: 125px;
  z-index: 12;
}

.dropdown-menu-user-option {
  display: block;
  font-size: 14px;
  padding: 7px 0px;
  text-align: center;
  
  &:hover {
    color: $yellow;
  }
}

.header-list-search {
  float: left;
  margin-top: 2px;
  
  &:hover {
    cursor: pointer;
  }
}

.search-btn-img {
  float: left;
  margin-right: 5px;
  width: 25px;
}

.search-bar {
  font-size: 14px;
  margin-top: 1px;
  padding: 5px;
}

.search-bar-hidden {
  width: 0px;
  transition: 0.5s width ease-in;
}

.search-bar-active {
  width: 90px;
  transition: 0.5s width ease-in;
}

@media (min-width: 550px) {
  .search-bar-active {
    width: 150px;
  }
}

@media (min-width: 768px) {
  .search-bar-active {
    width: 200px;
  }
  
  .header-list-logo-img-small {
    display: none;
  }
  
  .header-list-logo-img-wide {
    display: block;
    width: 110px;
  }
}

// .header-list-notification