
// storis-recs //
.stories-recs-container {
  margin: 40px auto 0px auto;
}

// stories //
.stories {
  margin: 0 auto;
  max-width: 660px;
  width: 90%;
}

// stories item //
.stories-item {
  background: #FFFFFF;
  margin-bottom: 25px;
  max-width: 660px;
  padding: 10px;
}

.stories-item-header {
  height: 50px;
}

.stories-item-user-img {
  border-radius: 50%;
  float: left;
  height: 36px;
  margin: 7px 10px 7px 0px;
  width: 36px;
}

.stories-item-username-pub-rt-container {
  float: left;
  margin-top: 4.5px;
}

.stories-item-username {
  color: $yellow;
  display: inline-block;
  font-size: 12px;
  letter-spacing: 0.03em;
  
  &:hover {
    color: $dark-yellow;
    cursor: pointer;
  }
}

.stories-item-pub-rt-container {
  color: rgba(0, 0, 0, 0.44);
  margin-top: 2px;
}

.stories-item-published-date {
  float: left;
  font-size: 12px;
  letter-spacing: 0.03em;
  margin-right: 4px;
}

.stories-item-kdot {
  float: left;
  font-size: 12px;
  margin-right: 4px;
}

.stories-item-read-time {
  float: left;
  font-size: 12px;
  letter-spacing: 0.03em;
}

.stories-item-banner-img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 150px;
  margin-top: 15px;
}

.stories-item-title {
  color: $light-black;
  font-size: 18px;
  letter-spacing: 0.01em;
  margin: 15px 0 5px 0;
}

.stories-item-subtitle {
  color: rgba(0, 0, 0, 0.44);
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.01em;
  margin-bottom: 10px;
}

.stories-item-snippet {
  color: $light-black;
  letter-spacing: 0.01em;
  margin-bottom: 10px;
}

.stories-item-read-more {
  color: $lighter-gray;
  font-size: 12px;
  letter-spacing: 0.05em;
}

.stories-item-like {
  float: left;
  width: 50%;
}

.stories-item-resp-book {
  float: left;
  width: 50%;
}

.stories-item-like-heart-img {
  float: left;
  height: 20px;
  margin-right: 8px;
  width: 20px;
}

.stories-item-like-heart-img:hover {
  cursor: pointer;
}

.stories-item-like-count {
  color: $lighter-gray;
  float: left;
  font-size: 14px;
  margin-top: 3px;
}

.stories-item-responses {
  color: $lighter-gray;
  float: right;
  font-size: 14px;
  margin: 3px 8px 0px 0px;
}

.stories-item-bookmark {
  float: right;
  height: 20px;
  width: 20px;
}

.stories-item-bookmark:hover {
  cursor: pointer;
}

.stories-item-footer {
  padding-top: 10px;
}

// recommendations //

.recs {
  display: none;
}

// tablet breakpoint //
@media (min-width: 768px) {
  // stories item //
  .stories-item {
    padding: 20px;
  }
  
  .stories-item-username {
    font-size: 16px;
  }
  
  .stories-item-published-date, .stories-item-kdot, 
  .stories-item-read-time, .stories-item-read-more, 
  .stories-item-like-count, .stories-item-responses {
    font-size: 16px;
  }
  
  .stories-item-title {
    font-size: 29px;
    margin: 25px 0 10px 0;
  }
  
  .stories-item-subtitle {
    font-size: 23px;
    margin-bottom: 20px;
  }
  
  .stories-item-snippet {
    font-size: 18px;
    margin-bottom: 30px;
  }
  
  .stories-item-read-more {
    font-size: 14px;
  }
  
  .stories-item-footer {
    padding-top: 30px;
  }
  
  .stories-item-bookmark,
  .stories-item-like-heart-img {
    height: 24px;
    width: 24px;
  }
  
}

// desktop breakpoint //
@media (min-width: 1000px) {
  // stories recs //
  .stories-recs-container {
    width: 1000px;
  }
  
  // stories //
  .stories {
    float: left;
    margin: 0;
  }
  
  // recommendations //
  .recs {
    display: block;
    float: left;
    padding-left: 18px;
    width: 322px;
  }
  
  .rec {
    margin-bottom: 40px;
  }
  
  .rec-item {
    margin-bottom: 20px;
  }
  
  .rec-category {
    border-bottom: 1px solid $gray;
    margin-bottom: 15px;
    padding-bottom: 5px;
  }
  
  .rec-user-img {
    border-radius: 50%;
    float: left;
    height: 32px;
    margin-right: 10px;
    width: 32px;
  }
  
  .rec-item-info {
    display: block;
    float: left;
    margin-top: -3px;
  }
  
  .rec-item-title {
    font-size: 14px;
  }
  
  .rec-item-user-fullname {
    color: $gray;
    font-size: 14px;
  }
  
  .rec-tag {
    background: $darker-white;
  }  
}