#main {
  background-color: $main-background-gray;
  font-family: $sans-serif;
  width: 100%;
}

.app {
  padding-top: $navbar-height-mobile;
  margin: 0 auto;
}

@media (min-width: 990px) {
  .app {
    padding-top: $navbar-height-desktop;
  }
}