// modal //
.modal {
  background: $overlay-gray;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.modal-header {
  background: $lighter-gray;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.modal-inner {
  background-color: #FFFFFF;
  border-radius: 5px;
  left: 50%;
  max-width: 420px;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 95%;
}

.modal-close-btn {
  color: #FFFFFF;
  font-size: 24px;
  position: fixed;
  right: 10px;
  top: 10px;
}

.modal-close-btn:hover {
  cursor: pointer;
}

// auth selections //
.auth-selections {
  font-size: 14px;
}

.auth-selections-logo-img {
  margin: 0 auto;
  padding: 25px 0;
  width: 30%;
}

.auth-selections-desc, .auth-selections-footer {
  color: $dark-gray;
  letter-spacing: 0.01em;
  line-height: 20px;
  margin: 20px 0;
  padding: 0 20px;
}

.auth-selections-btns-container {
  padding: 0 15px;
}

.auth-selections-btn {
  border-radius: 2px;
  color: #FFFFFF;
  margin: 20px 0;
  padding: 20px;
}

.auth-selections-btn-guest {
  background: $sky-blue;
}

.auth-selections-btn-guest:hover {
  background: $sky-blue-hover;
  cursor: pointer;
}

.auth-selections-btn-signin {
  background: $stormy;
}

.auth-selections-btn-signin:hover {
  background: $stormy-hover;
  cursor: pointer;
}

.auth-selections-link-signup {
  color: $blue;
  text-align: center;
}

.auth-selections-link-signup:hover {
  color: $dark-blue;
  cursor: pointer;
  text-decoration: underline;
}

// signin form //
.sign-up-form-header {
  font-size: 16px;
  font-weight: 900;
  line-height: 22px;
  padding: 20px;
}

.sign-up-form {
  padding: 30px;
}

.sign-up-input-label {
  color: $dark-gray;
  display: block;
  margin-bottom: 10px;
}

.sign-up-input {
  border-bottom: 1px solid $light-gray;
  color: $dark-gray;
  font-size: 14px;
  margin-bottom: 20px;
  padding: 5px 0;
  width: 100%;
}

.sign-up-button {
  background: $blue;
  border-radius: 2px;
  color: #FFFFFF;
  display: block;
  font-size: 16px;
  margin: 0 auto;
  padding: 8px;
}

.sign-up-button:hover {
  color: #FFFFFF;
  background: $dark-blue;
}

// since it's a modal, change font-sizes first and see if any dimensions need changes
// most likely not bc modal has a max width of 420px;