.nav-bar {
  background-color: #FFFFFF;
  border-bottom: 1px solid $light-gray;
  box-shadow: 0 2px 2px -2px rgba(0,0,0,0.15);
  box-sizing: border-box;
  height: 50px;
  left: 50%;
  padding: 10px;
  position: fixed;
  top: $navonly-height;
  transform: translate(-50%, 0);
  width: 100%;
  z-index: 10;
}

.nav-bar-inner {
  margin: 0 auto;
  max-width: 1000px !important;
  position: relative;
  width: 100%;
}

.nav-bar-hamburger-menu {
  position: absolute;
  width: 30px;
}

.nav-bar-hamburger-menu:hover {
  cursor: pointer;
  padding-top: 2px;
}

.sliding-menu {
  background: $overlay-gray;
  position: absolute;
}

.sliding-menu-inner {
  background: #FFFFFF;
  width: 170px;
}

.sliding-menu-hidden {
  left: -170px;
  top: 0;
}

.sliding-menu-active {
  left: 0;
  transition: left 1s ease;
}

.nav-bar-links-container {
  display: none;
  font-size: 14px;
  height: 40px;
}

.nav-bar-link {
  color: $dark-gray;
}

.nav-bar-link:hover {
  color: #000000;
}

// tablet break point //
@media (min-width: 768px) and (max-width: 999px) {
  .nav-bar-hamburger-menu {
    display: none;
  }
  
  .nav-bar-links-container {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
}

// desktop break point //
@media (min-width: 1000px) {
  .nav-bar-hamburger-menu {
    display: none;
  }
  
  .nav-bar-links-container {
    align-items: center;
    display: flex;
    justify-content: space-around;
  }
}