// colors//
$lightest-gray: rgba(0,0,0,.05);
$light-gray: rgba(0, 0, 0, 0.20);
$lighter-gray: rgba(0, 0, 0, 0.40);
$gray: #c8c8c8;
$main-background-gray: #FAFAFA;
$dark-gray: rgba(0,0,0,0.6);
$overlay-gray: rgba(51,51,51,0.7);
$darker-white: rgba(255, 255, 255, 0.972549);
$yellow: #F3D351;
$dark-yellow: #E8C63B;
$light-black: rgba(0, 0, 0, 0.8);

// header & navbar //
$header-height: 50px;
$navonly-height: 50px;
$navbar-height-mobile: 101px;
$navbar-height-desktop: 101px;

// story //
$story-padding-top: 50px;

// fronts //
$sans-serif: 'Roboto', sans-serif;