// story //
.story {
  background: #FFFFFF;
  margin: 0px auto;
  padding-top: $story-padding-top;
  position: relative;
  width: 100%
}

.story-header {
  margin-bottom: 30px;
  max-width: 740px;
}

.story-user-img-container-top {
  float: left;
}

.story-user-img-top {
  border-radius: 50px;
  height: 60px;
  width: 60px;
}

.story-info-container-top {
  float: left;
  margin-left: 10px;
  width: calc(100% - 70px); // 70px = img width + margin-left
}

.story-username-top {
  color: $yellow;
  float: left;
  font-size: 14px;
  margin: 2px 20px 2px 0px;
}

.story-username-top:hover {
  color: $dark-yellow;
}

.story-follow-top-btn {
  display: none;
}

.story-user-desc-top {
  color: $lighter-gray;
  float: left;
  font-size: 12px;
  margin: 5px 0px;
  width: 100%;
}

.story-published-date-min-read {
  color: $lighter-gray;
}

.story-published-date {
  float: left;
  font-size: 12px;
}

.story-kdot {
  float: left;
  font-size: 12px;
  margin: 0 5px;
}

.story-read-time {
  float: left;
  font-size: 12px;
}

.side-story-buttons {
  display: none;
}

.story-title {
  font-weight: bold;
  font-size: 28px;
  margin: 0 auto;
  max-width: 700px;
}

.story-subtitle {
  color: $lighter-gray;
  font-size: 24px;
  margin: 5px auto 20px auto;
  max-width: 700px;
}

.story-banner-img {
  
}

.story-content {
  font-size: 18px;
  line-height: 1.5em;
  margin: 0px auto 15px auto;
  max-width: 700px;
}

.story-content-p {
  margin-top: 15px;
}

.story-tags {
  margin: 20px auto 0px auto;
  max-width: 700px;
}

.story-tag {
  background: $lightest-gray;
  border: none;
}

.story-buttons {
  border-bottom: 1px solid $light-gray;
  margin: 20px auto 0px auto;
  max-width: 700px;
  padding-bottom: 15px;
  width: calc(100% - 40px); // 40px = .padding-side 20px * 2
}

.story-buttons-heart-resp {
  float: left;
}

.story-like-heart-img-bottom {
  float: left;
  width: 20px;
}

.story-like-heart-img-bottom:hover {
  cursor: pointer;
}

.story-like-count-bottom {
  float: left;
  font-size: 14px;
  margin: 2px 15px 0px 5px;
}

.story-response-img {
  color: $light-gray;
  float: left;
  width: 20px;
}

.story-response-count-bottom {
  float: left;
  font-size: 14px;
  margin: 2px 0px 0px 6px;
}

.story-bookmark-bottom {
  float: right;
  width: 20px;
}

.story-like-heart-img-bototm:hover,
.story-response-img-bottom:hover,
.story-bookmark-bottom:hover {
  cursor: pointer;
}

.story-footer {
  margin: 0px auto 20px auto;
  padding-top: 15px;
  padding-bottom: 10px;
  position: relative;
  max-width: 700px;
}

.story-follow {
  margin-top: -5px;
  padding: 2px 10px;
}

.story-follow-bottom-btn {
  position: absolute;
  right: 10px;
  top: 15px;
}

.story-user-img-container-bottom {
  float: left;
  margin-right: 10px;
  width: 60px;
}

.story-user-img-bottom {
  border-radius: 50%;
}

.story-info-container-bottom {
  float: left;
  margin-top: 5px;
  width: calc(100% - 70px); // 70px = user-img-container width + margin-right
}

.story-username-bottom {
  font-size: 18px;
}

.story-user-img-container-bottom:hover,
.story-username-bottom:hover {
  cursor: pointer;
}

.story-user-desc-bottom {
  font-size: 12px;
  color: $lighter-gray;
  margin-top: 5px;
}

@media (min-width: 768px) {
  .story-header {
    margin: 0px auto 30px auto;
  }
  
  .story-username-top {
    font-size: 18px;
    margin: 5px 20px 5px 0px;
  }
  
  .story-follow {
    border-radius: 15px;
    font-size: 16px;
    padding: 4px 15px;
  }
  
  .story-follow-top-btn {
    display: block;
    float: left;
    margin-top: 1.5px;
  }
  
  .story-user-desc {
    font-size: 16px;
  }
  
  .story-published-date {
    font-size: 16px;
  }
  
  .story-kdot {
    font-size: 16px;
  }
  
  .story-read-time {
    font-size: 16px;
  }
  
  .story-title {
    font-size: 42px;
    margin: 0 auto;
  }
  
  .story-subtitle {
    font-size: 29px;
    margin: 5px auto 20px auto;
  }
  
  .story-content {
    font-size: 23px;
    margin: 0 auto;
  }
  
  .story-like-heart-img-bottom,
  .story-bookmark-bottom,
  .story-response-img {
    height: 24px;
    width: 24px;
  }
  
  .story-like-count-bottom, 
  .story-response-count-bottom {
    font-size: 16px;
    margin: 2px 18px 0px 7px;
  }
}

@media (min-width: 1000px) {
  @keyframes blur-in {
    from { opacity: 0; }
    to { opacity: 1; }
  }
  
  @keyframes blur-out {
    from { opacity: 1; }
    to { opacity: 0; }
  }
  
  .side-story-buttons {
    left: calc((100% - 700px) / 2 - 75px); // check if there's a better way
    top: 50%;
    transform: translate(0, -50%);
  }
  
  .side-story-buttons-active {
    animation: blur-in 0.5s;
  }
  
  .side-story-buttons-inactive {
    animation: blur-out 0.5s;
    opacity: 0;
  }
  
  .side-story-likes-count {
    color: $gray;
    font-size: 16px;
    margin: 10px 0px;
    text-align: center;
  }
  
  .side-story-button:hover {
    cursor: pointer;
  }
}