// story //
.story {
  background: #FFFFFF;
  margin: 0px auto;
  padding-top: 50px;
  width: 100%
}

.story-header {
  margin-bottom: 30px;
}

.story-user-img-container-top {
  float: left;
}

.story-user-img-top {
  border-radius: 50px;
  height: 60px;
  width: 60px;
}

.story-info-container-top {
  float: left;
  margin-left: 10px;
  width: calc(100% - 70px); // 70px = img width + margin-left
}

.story-username-top {
  color: $yellow;
  float: left;
  font-size: 14px;
  margin: 2px 20px 5px 0px;
}

.story-username-top:hover {
  color: $dark-yellow;
}

.story-follow-top {
  display: none;
}

.story-user-desc-top {
  color: $lighter-gray;
  float: left;
  font-size: 12px;
  margin: 5px 0px;
  width: 100%;
}

.story-published-date-min-read {
  color: $lighter-gray;
}

.story-published-date {
  float: left;
  font-size: 12px;
}

.story-kdot {
  float: left;
  font-size: 12px;
  margin: 0 5px;
}

.story-read-time {
  float: left;
  font-size: 12px;
}

.story-title {
  font-weight: bold;
  font-size: 28px;
}

.story-subtitle {
  color: $lighter-gray;
  font-size: 24px;
  margin: 5px 0px 20px 0px;
}

.story-banner-img {
  
}

.story-content {
  font-size: 18px;
  margin-bottom: 15px;
}

.story-tags {
  margin: 20px auto 0px auto;
  max-width: 700px;
}

.story-tag {
  background: $lightest-gray;
  border: none;
}

.story-buttons {
  border-bottom: 1px solid $light-gray;
  margin: 20px auto 0px auto;
  max-width: 700px;
  padding-bottom: 15px;
}

.story-buttons-heart-resp {
  float: left;
}

.story-like-heart-img-bottom {
  float: left;
  margin-right: 20px;
  width: 20px;
}

.story-response-img {
  float: left;
  width: 20px;
}

.story-bookmark-bottom {
  float: right;
  width: 20px;
}

.story-like-heart-img-bototm:hover,
.story-response-img-bottom:hover,
.story-bookmark-bottom:hover {
  cursor: pointer;
}

.story-footer {
  margin: 0 auto;
  padding-top: 15px;
  padding-bottom: 10px;
  position: relative;
  max-width: 700px;
}

.story-follow-bottom {
  border: 1px solid $yellow;
  border-radius: 10px;
  color: $yellow;
  font-size: 14px;
  padding: 2px 10px;
  position: absolute;
  right: 10px;
  top: 10px;
}

.story-user-img-container-bottom {
  float: left;
  margin-right: 10px;
  width: 60px;
}

.story-user-img-bottom {
  border-radius: 50%;
}

.story-info-container-bottom {
  float: left;
  margin-top: 5px;
  width: calc(100% - 70px); // 70px = user-img-container width + margin-right
}

.story-username-bottom {
  font-size: 18px;
}

.story-follow-bottom:hover,
.story-user-img-container-bottom:hover,
.story-username-bottom:hover {
  cursor: pointer;
}

.story-user-desc-bottom {
  font-size: 14px;
  color: $lighter-gray;
  margin-top: 5px;
}

@media (min-width: 768px) {
  .story-header {
    margin: 0px auto 30px auto;
    max-width: 740px;
  }
  
  .story-username-top {
    font-size: 18px;
    margin: 1px 20px 5px 0px;
  }
  
  .story-follow-top {
    border: 1px solid $yellow;
    border-radius: 10px;
    color: $yellow;
    display: block;
    float: left;
    font-size: 14px;
    margin-top: 1.5px;
    padding: 2px 10px;
  }
  
  .story-follow-top:hover {
    cursor: pointer;
  }
  
  .story-user-desc-top {
    font-size: 16px;
  }
  
  .story-published-date {
    font-size: 16px;
  }
  
  .story-kdot {
    font-size: 16px;
  }
  
  .story-read-time {
    font-size: 16px;
  }
  
  .story-title {
    font-size: 42px;
    margin: 0 auto;
    max-width: 700px;
  }
  
  .story-subtitle {
    font-size: 29px;
    margin: 5px auto 20px auto;
    max-width: 700px;
  }
  
  .story-content {
    font-size: 23px;
    margin: 0 auto;
    max-width: 700px;
  }
  
  .story-like-heart-img-bottom,
  .story-bookmark-bottom,
  .story-response-img {
    height: 24px;
    width: 24px;
  }
}