.user-stories,
.user-comments {
  background: #FFFFFF;
}

.user-stories-header,
.user-comments-header {
  font-size: 24px;
  margin: 0 auto;
  max-width: 1000px;
  padding: 30px 0px;
  width: calc(100% - 40px);
}

.user-stories-item,
.user-comments-item {
  border-bottom: 1px solid $light-gray;
  display: block;
  margin: 0 auto 20px auto;
  max-width: 1000px;
  padding-bottom: 20px;
  width: calc(100% - 40px);
}

.user-stories-title,
.user-comments-item-story-title {
  font-size: 20px;
  font-weight: 900;
  margin-bottom: 15px;
}

.user-stories-info,
.user-comments-info {
  color: $gray;
  float: left;
  font-size: 14px;
  margin-right: 10px;
}

.user-stories-info-dropdown,
.user-comments-info-dropdown  {
  margin-top: -3px;
  position: relative;
  width: 24px;
  
  &:hover {
    cursor: pointer;
  }
}

.dropdown-menu-user-stories,
.dropdown-menu-user-comments-index {
  background: #FFFFFF;
  left: -40px;
  position: absolute;
  width: 100px;
  z-index: 3;
}

.dropdown-menu-user-stories-option,
.dropdown-menu-user-comments-index-option {
  display: block;
  padding: 5px;
  text-align: center;
  
  &:hover {
    color: $yellow;
  }
}

@media (min-width: 768px) {
  .user-stories-header,
  .user-comments-header {
    font-size: 32px;
  }
  
  .user-stories-title,
  .user-comments-title {
    font-size: 26px;
  }
  
  .user-stories-info,
  .user-comments-info {
    font-size: 16px;
  }
}