.user-stories {
  background: #FFFFFF;
  margin: 0 auto;
  max-width: 1000px;
  width: 100%;
}

.user-stories-header {
  font-size: 24px;
}

.users-stories-info {
  float: left;
  margin-right: 10px;
}