.user-show {
  background: $main-background-gray;
}

.user-show-header {
  background: #FFFFFF;
}

.user-show-header-inner {
  border-bottom: 1px solid $light-gray;
  padding: 50px 10px 10px 10px;
  margin: 0px auto;
  max-width: 600px;
  width: calc(100% - 20px);
}

.user-show-header-img {
  border-radius: 50%;
  margin: 50px auto 0px auto;
  width: 80px;
}

.user-show-user-fullname {
  font-size: 32px;
  font-weight: 900;
  margin-top: 30px;
  text-align: center;
}

.user-show-user-desc {
  color: $light-gray;
  font-size: 16px;
  margin-top: 15px;
  text-align: center;
}

.user-show-follow-info-container {
  margin: 30px auto;
  width: 170px;
}

.user-show-followings {
  color: $gray;
  float: left;
  font-size: 14px;
  margin-right: 15px;
}

.user-show-followings:after {
  color: $light-gray;
  content: " Followings";
  font-size: 14px;
}

.user-show-followers {
  color: $gray;
  float: left;
  font-size: 14px;
}

.user-show-followers:after {
  color: $light-gray;
  content: " Followers";
  font-size: 14px;
}

.user-show-edit-btn {
  margin: 0px auto 30px auto;
  padding: 5px 3px;
  text-align: center;
  width: 50px;
}

.user-show-nav-bar {
  box-shadow: 0 2px 2px -2px rgba(0,0,0,0.15);
}

.user-show-navbar-ul {
  display: flex;
  justify-content: space-around;
  padding: 10px 0px;
  margin: 0 auto;
  max-width: 600px;
}

.user-show-inner-navbar {
  background: #FFFFFF;
}

.user-show-navbar-link {
  color: $light-gray;
  font-size: 14px;
}

.user-show-navbar-link:hover {
  color: #000000;
  cursor: pointer;
}

// profile tab //

.user-show-tab-header {
  background: $main-background-gray;
  font-size: 16px;
  font-weight: 900;
  height: 40px;
  margin: 0 auto;
  max-width: 620px;
  padding: 40px 0px 0px 20px;
}

.tab-header-active {
  color: #000000;
}

.user-show-tab-header-recs {
  padding: 20px 0px 20px 20px;
}

.user-profile-latest,
.user-profile-recs {
  margin: 0 auto;
  max-width: 600px;
}

.user-profile-recs-see-more {
  color: $light-gray;
  padding-top: 5px;
}

.user-profile-recs-see-more:hover {
  cursor: pointer;
}

.user-profile-rec-item {
  background: #FFFFFF;
  padding: 30px 15px;
}

.user-profile-rec-item:nth-child(even) {
  border-bottom: 1px solid $light-gray;
  border-top: 1px solid $light-gray;
}

.rec-title {
  font-size: 18px;
  font-weight: 900;
  margin-bottom: 10px;
  width: calc(100% - 80px) // 80px = .rec-img width + margin-left
}

.rec-title-no-img {
  width: 100%;
}

.rec-img {
  margin-left: 15px;
  width: 65px;
}

.rec-author {
  color: $yellow;
  font-size: 16px;
}

.user-responses-ul {
  background: #FFFFFF;
  margin: 0 auto;
  max-width: 600px;
  padding: 30px 0px;
}

.user-resp-item {
  margin-bottom: 20px;
}

.user-resp-content {
  font-size: 16px;
  line-height: 20px;
  padding: 0px 20px;
  max-width: 600px;
}

.users-resp-read-more {
  color: $light-gray;
  font-size: 14px;
  margin-bottom: 15px;
  padding: 10px 20px 0px 20px
}


@media (min-width: 768px) {
  .user-show-header-img {
    width: 100px;
  }
  
  .user-responses-ul {
    padding: 20px;
  }
  
  .user-resp-item-footer {
    padding: 0px 20px;
  }
}