.user-show {
  background: $main-background-gray;
}

.user-show-header {
  background: #FFFFFF;
}

.user-show-header-inner {
  border-bottom: 1px solid $light-gray;
  padding: 50px 10px 10px 10px;
  margin: 0px auto;
  max-width: 600px;
  width: calc(100% - 20px);
}

.user-show-header-img-container {
  position: relative;
}

.user-show-file-input-container  {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  top: 30px;
}

.user-img-file-input {
  display: none;
}

.user-show-prev-img {
  border-radius: 50%;
  height: 80px;
  left: 50%;
  position: absolute;
  top: 0;
  transform: translate(-50%, 0);
  width: 80px;
}

.user-show-header-img {
  border-radius: 50%;
  height: 80px;
  margin: 50px auto 0px auto;
  width: 80px;
}

.user-show-user-fullname {
  font-size: 32px;
  font-weight: 900;
  margin-top: 30px;
  text-align: center;
}

.user-show-user-fullname-edit {
  width: 100%;
}

.user-show-user-desc {
  color: $light-gray;
  font-size: 16px;
  margin-top: 15px;
  text-align: center;
}

.user-show-user-desc-edit {
  width: 100%;
}

.user-show-follow-info-container {
  margin: 30px auto;
  width: 170px;
}

.user-show-followings {
  color: $gray;
  float: left;
  font-size: 14px;
  margin-right: 15px;
  
  &:after {
    color: $light-gray;
    content: " Followings";
    font-size: 14px;
  }
  
  &:hover {
    cursor: pointer;
  }
}

.user-show-followers {
  color: $gray;
  float: left;
  font-size: 14px;
  
  &:after {
    color: $light-gray;
    content: " Followers";
    font-size: 14px;
  }
  
  &:hover {
    cursor: pointer;
  }
}

.user-show-buttons {
  
}

.user-show-edit-btn {
  margin: 0px auto 30px auto;
  padding: 5px 3px;
  text-align: center;
  width: 50px;
}

.user-show-follow-btn {
  margin: 0px auto 30px auto;
  width: 60px;
}

.user-show-save-cancel-container {
  margin: 0 auto;
  width: 159px;
}

.user-show-save-btn {
  float: left;
  margin-right: 15px;
  width: 50px;
}

.user-show-cancel-btn {
  border: 1px solid #000000;
  color: #000000;
  float: left;
  width: 50px;
}

.user-show-nav-bar {
  box-shadow: 0 2px 2px -2px rgba(0,0,0,0.15);
}

.user-show-navbar-ul {
  display: flex;
  justify-content: space-around;
  padding: 10px 0px;
  margin: 0 auto;
  max-width: 600px;
}

.user-show-inner-navbar {
  background: #FFFFFF;
}

.user-show-navbar-link {
  color: $light-gray;
  font-size: 14px;
  
  &:hover {
    color: #000000;
    cursor: pointer;
  }
}

// profile tab //

.user-show-tab-header {
  background: $main-background-gray;
  font-size: 16px;
  font-weight: 900;
  height: 40px;
  margin: 0 auto;
  max-width: 620px;
  padding: 40px 0px 0px 20px;
}

.tab-header-active {
  color: #000000;
}

.user-show-tab-header-recs {
  padding: 20px 0px 20px 20px;
}

.user-profile-latest,
.user-profile-recs {
  margin: 0 auto;
  max-width: 600px;
}

.user-profile-recs-see-more {
  color: $light-gray;
  padding-top: 5px;
}

.user-profile-recs-see-more:hover {
  cursor: pointer;
}

.user-profile-rec-item {
  background: #FFFFFF;
  padding: 30px 15px;
}

.user-profile-rec-item:nth-child(even) {
  border-bottom: 1px solid $light-gray;
  border-top: 1px solid $light-gray;
}

.rec-title {
  font-size: 18px;
  font-weight: 900;
  margin-bottom: 10px;
  width: calc(100% - 80px) // 80px = .rec-img width + margin-left
}

.rec-title-no-img {
  width: 100%;
}

.rec-left-container {
  float: left;
}

.rec-img {
  float: right;
  margin-left: 15px;
  width: 100px;
}

.rec-author {
  color: $yellow;
  font-size: 16px;
}

.user-responses-ul {
  background: #FFFFFF;
  margin: 0 auto;
  max-width: 600px;
}

.user-resp-item {
  margin-bottom: 20px;
  max-width: 640px;
  padding: 20px;
}

.user-resp-story-link {
  margin-bottom: 25px;
  max-width: 600px;
  padding: 10px;
  
}

.user-resp-content {
  font-size: 16px;
  line-height: 20px;
  max-width: 600px;
}

.users-resp-read-more {
  color: $light-gray;
  font-size: 14px;
  margin-bottom: 15px;
}

// follows modal //

.modal.modal-followings, 
.modal.modal-followers {
  background: rgba(255,255,255, .9);
  
  .modal-close-btn {
    color: #000000;
  }
}

.modal-inner-followings,
.modal-inner-followers {
  background: rgba(255, 255, 255, 0);
  height: 100%;
  overflow: auto;
}

.user-follows-list {
  padding-top: 50px;
}

.user-follows-item {
  margin: 30px 0px;
  position: relative;
}

.user-follows-list-header {
  font-size: 18px;
  font-weight: 900;
  text-align: center;
}

.users-follows-modal-btn {
  background: $yellow;
  color: #FFFFFF;
  font-size: 12px;
  position: absolute;
  right: 0;
  text-align: center;
  top: -3px;
}

.user-follows-img {
  border-radius: 50%;
  float: left;
  margin-right: 15px;
  width: 40px;
}

.user-follows-item-info {
  float: left;
  width: calc(100% - 117px); // 82px = img width + margin + btn width
}

.user-follows-item-info-fullname {
  font-weight: 900;
  margin-bottom: 5px;
}

.user-follows-item-info-desc {
  color: $light-gray;
  font-size: 14px;
}


@media (min-width: 768px) {
  .user-show-header-img {
    height: 100px;
    width: 100px;
  }
  
  .user-follows-list-header {
    font-size: 24px;
  }
  
  .user-show-file-input-container {
    top: 40px;
  }
  
  .user-show-prev-img {
    height: 100px;
    width: 100px;
  }
}